.property-container {
    width: 100%;
}
.property {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .name {
        width: 100px;
    }
}

.texture-preview {
    object-fit: none;
    background-color: #9e9e9e;
    max-width: 300px;
    max-height: 300px;
}